/* GENERAL STYLES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #3d4852;
}

/* HEADER */

.for {
    color: red;
    font-size: 45px;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #923c98;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* TEXT STYLES */

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 25px;
}

/* MAIN DIV WITH BACKGROUND IMAGE */

.main {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./grocery-spotter-feb.jpeg");
    background-size: cover;
    background-position: center;
}

/* GO - FLOAT */

.go-left {
    float: left;
    margin-right: 25px;
}

.go-right {
    float: right;
    margin-left: 25px;
}

/* SERVICES SECTIONS */

.shopping {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #923c98;
    color: #ffffff;
}

.shopping img {
    max-height: 200px;
}

.shopping h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* FOOTER */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.four {
    color: red;
}

footer h2 {
    font-size: 20px;
}